@model MvcApp.Models.JsonObject.Rootobject

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Raw(@Model.response.search.result.passages[0].text)

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Today's reading: </h4>
        <hr />

         @Html.TextAreaFor(m => @Html.Raw(m.response.search.result.passages[0].text), new { @class = "form-control" })  

     </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
